*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.countercomp{
  flex-direction: row;
  justify-content: center;
  margin: 200px auto;
  width: 1000px !important;
  height: 250px;
}

.countercomp div:not(.alert-danger){
  margin: 20px;
}

.countercomp input{
  margin: 10px 0;
}

.btns{
  width: 300px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.res h1{
  font-size: 5rem;
}